header {
  height: 4rem;
  background:#555555;

}

.head-name{
  font-size: 20px;
  color:#fbf7f0;
}

.container {
margin: auto;

}
body{
  height:100vh;
  background: #fbf7f0;
}


.card-list-item {

height: 380px;
  width: 370px;

}
.card-list-item:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.025);
}
.card-title{
  font-weight: bold;
}
.card-text {
  font-size: small;
}
.product-img, .card-img, .cart-img {
  height: 200px;
  object-fit: contain;
}

/* .card-detail-product {

  max-width: 940px;
  height: 400px;
} */

/* @media screen and (max-width: 767px) {
  .card-detail-product{
    height: 700px;
  } */

  .detail-img{
    display: flex;
    justify-content: center;
  }


@media screen and (max-width: 285px) {
  .card-detail-product{
    height: 785px;
  }
}

.cart {
  color: white;
}
.fa-shopping-cart {
  color: white;
  animation: sway1 3s infinite;
  transform-origin: 50% 100% 0;


}
 @keyframes sway1 {
   0%, 100%{ transform: rotate(-8deg);}
   50%{transform: rotate(20deg);}
 }

@media screen and (max-width:767px) {
  .cart-img {
    width:250px;
  }
  .btn-primary {
    width: 80%;
  }
}


@media screen and (max-width:320px) {
  .cart-img {
    width:180px;
  }
  .btn-primary{
    height: 80%;
  }
}


.cart-item {
  max-width: 800px;
}

.trophy {
  height: 50px;
}



.main {
  height: 100%;
  margin: 0;
  padding:0;
  background: #f1f1f1;
}

.hero-image{
  position: relative;
  height:450px;
  overflow:hidden;
  background:
linear-gradient(
  rgba(0,0,0,0.5),
  rgba(0,0,0,0)
),
url('images/memorabilia.jpg') no-repeat center;
background-size:cover;
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#fbf7f0;
  font-weight: bold;
  margin: 0;
}

.hero-container h1{
  font-size: 72px;
  letter-spacing: 0.2rem;
}

.hero-container h1 span {
  border: 10px solid #fbf7f0;
  padding: 6px 14px;
  display: inline-block;

}

.des{
  margin: 20px;
  display: block;
  font-size: 30px;
  text-shadow: 0 0 10px black;
}

.modal-bg, .line{
  background: #fbf7f0;
}

.cursor:hover {
  cursor: pointer;
}
