header {
  height: 4rem;
  background: rgb(66, 65, 65);

}

h2 {
font-size: 20px;
  color:white;

}

.container {
margin: auto;

}


.card {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  height: 450px;
  box-shadow: gray 1px 1px;
  margin-left: 20px;

}

.card-text {
  font-weight: bold;
}
img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-detail-product {

  max-width: 940px;
  height: 500px;
}

.cart {
  color: white;

}


.cart-img {
  width: 380px;
  height: 350px;
}

.cart-item {
  max-width: 800px;
}
