header {
  height: 4rem;
  background:#555555;

}

h2 {
font-size: 20px;
  color:white;

}

.container {
margin: auto;

}

.product-list-bg, .product-detail-bg, .cart-summary-bg{
  background: #fbf7f0;
  height: 1000px;
}

.card {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  height: 450px;
  box-shadow: gray 1px 1px;
  margin-left: 20px;

}

.img-container{
  filter:  brightness(90%) ;
}

.card-title{
  font-weight: bold;
}
.card-text {
  font-size: small;
}
img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card-detail-product {

  max-width: 940px;
  height: 500px;
}

.cart {
  color: white;

}


.cart-img {
  width: 380px;
  height: 350px;
}

.cart-item {
  max-width: 800px;
}
